/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.fab-button-new {
  position: absolute !important;
  bottom: 10px;
  right: 10px;
}